html{
    margin: 0;
    padding:0;

}

body{
    width: 1000px;
    margin: 0 auto ;
    font-size: 10px;
    text-align: center;
}
header{
    width: 1000px;
    height: 80px;
    color: #200f08;
    padding-left: 10px;
    padding-right: 10px;
    background-color: bisque;
    text-align: center;
    
}
h1{
    /* color: white; */
    /* text-shadow: 2px 2px 4px #0a0000; */
    color: #1D3124;
    font-size: 2rem;
  }
article{
    width: 800px;
    flex:2;
    border-style:groove;
    padding-top: 20px;
    padding-left: 20px;
    background-color:rgba(255, 228, 196, 0.479);
    text-align: center;
}
aside{
    flex:1;
    border-style: groove;
    padding-top: 20px;
    padding-left:20px;
    background-color:rgba(255, 228, 196, 0.479);
}

.content-area{
    display: flex;
}
footer{
  border-style: groove;
  color: rgb(134, 134, 134);
  text-align: center;
  background-color: bisque;
}

.nav{
    display: flex ;
    text-align: center;
    
    
}
.nav-list{
    list-style: none; 
    margin-right: 40px;
    display: table;
    margin: auto;
    }
.nav-list1{
        list-style:none;
        text-align:left
    
        
     }
     nav ul li a:link, nav ul li a:active, nav ul li a:visited{
        color: #000000;
        text-decoration: none;
        font-size: 1rem;
    
    }
    
    nav ul li a:hover{
        background-color: #fa0404;
        /* text-decoration: underline; */
        color: #fff;